
<div class="card flex flex-wrap justify-content-center gap-2">
  <p-sidebar
    [(visible)]="sidebarVisible4"
    [closeOnEscape]="false"
    position="bottom"
    [showCloseIcon]="false"
    block="true"
    [blockScroll]="true"
    [modal]="false"
    [style]="{ height: '150px', width: '100%' }"
  >
    <div
      class="container text-center my-2"
      style="
        max-height: 35px;
        color: var(--color-primario);
        font-weight: bold;
        font-size: 25px;
      "
    >
      Puntos: {{ puntosGanados }}
    </div>

    <div class="container" style="width: 100%; max-height: 110px">
      <!-- <div class="miSlide">
        <div class="custom-slider3">
          <ngx-slider
            class="slider"
            [(value)]="valueMeta"
            [options]="optionsMeta"
          ></ngx-slider>
        </div>
      </div> -->
      <div *ngFor="let item of listaPosiciones; let i = index;">
        <div class="miSlide" *ngIf="item.posicion<listaDePreguntas.length">
          <div class="custom-slider2">
            <ngx-slider
              class="slider"
              [(value)]="item.posicion"
              [options]="setListOptions(item.iniciales, i)"
            ></ngx-slider>
          </div>
        </div>
      </div>


      <div class="miSlide">
        <div class="custom-slider">
          <ngx-slider
            class="slider"
            [(value)]="puntosGanados"
            [options]="optionsMia"
          ></ngx-slider>
        </div>
      </div>
    </div>

    <ng-template pTemplate="footer" style="margin: 0; padding: 0"></ng-template>


    <div></div>
  </p-sidebar>
</div>
<!-- Modal -->
<div class="modal-container">
  <div
    class="modal fade mobile-modal"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
  >
    <div class="modal-dialog">
      <div class="col">
        <div class="row">
          <div class="modal-content">
            <div>
            
              <div class="modal-title m-4">
                <div class="row my-2">
                  <div class="col-6 ml-2">
                    {{ numPreguntasContestadas + 1 }}/{{
                      listaDePreguntas.length
                    }}
                  </div>
                  <div
                    class="col-6 te"
                    style="color: var(--color-primario); text-align: right"
                  >
                    {{ countdown }}
                    <strong style="font-size: small">SEGUNDOS</strong>
                  </div>
                </div>

                <div class="row text-center">
                  <div class="col">
                    <h5 style="font-weight: bold">
                      {{ preguntaTexto }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-body">
              <div>
                <div class="row" style="min-width: 100%;">
                  <div class="col-12 text-center">
                    <div
                      *ngFor="let miOpcion of actualOpcionList; let i = index"
                    >
                      <button
                        type="button"
                        class="btn custom-btn btn-secondary btn-block text-center my-2 position-relative"
                        (click)="closeModal(i)"
                        [ngClass]="{'respuesta-correcta': miOpcion.correcta==1 && botonSeleccionado[i], 'respuesta-incorrecta': miOpcion.correcta==0 && botonSeleccionado[i], 
                        }"                                             
                      >
                        {{ miOpcion.nombre }}
                        <div class="position-absolute top-50 start-100 translate-middle" *ngIf="miOpcion.correcta==0 && botonSeleccionado[i]" >
                          <img src="assets/Imagenes Juego/S2Mal.png" alt="XOpciones" style="width: 40px; height: 40px; transform: translate(-18px,0px);" >                              
                       </div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="container" style="height: 15px;"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col py-2">
          <div class="row">
            <div
              *ngIf="mostrarAlert"
              class="alert alert-success text-center"
              role="alert"
            >
              ¡GENIAL!
            </div>
            <div
              *ngIf="mostrarWrongAlert"
              class="alert alert-danger text-center"
              role="alert"
            >
              {{ Mensaje_error }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FONDO DEL JUEGO-->
<body id="game-container"  class="game-container" >
  <div  style="overflow: hidden" #pixiContainer></div>
  
</body>
 

